<script>

    var googleRecaptcha = "<%- googleRecaptcha %>"
    var recaptchaSiteKey = "<%- recaptchaSiteKey %>"

    function isEmailValid(email) {
        var decimal = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/;
        return !!(email.toLowerCase().trim() && email.toLowerCase().trim().match(decimal));
    }

    function isNameValid(name) {
        var decimal = /^[a-zA-Z -]+$/;
        return name.toLowerCase().trim().match(decimal);
    }

    function isFormValid(formData) {
        // console.log(formData)
        var flag = true
        if (!formData['name']) {
            document.getElementById('nameError').innerText = "Name is required";
            flag = false
        }
        if (formData['name'] && (!isNameValid(formData['name']) || formData['name'].length > 50)) {
            document.getElementById('nameError').innerText = "Only letter and space is allow";
            flag = false
        }
        if (!formData['email']) {
            document.getElementById('emailError').innerText = "Email is required";
            flag = false
        }
        if (formData['email'] && !isEmailValid(formData['email'])) {
            document.getElementById('emailError').innerText = "Invalid email";
            flag = false
        }

        if (!formData['phone']) {
            document.getElementById('phoneError').innerText = "Phone is required";
            flag = false
        }
        if (formData['phone'] && formData['phone'].length !== 10) {
            document.getElementById('phoneError').innerText = "Phone is invalid";
            flag = false
        }
        if (!formData['expectedCtc']) {
            document.getElementById('expectedCtcError').innerText = "Expected CTC is required";
            flag = false
        }

        if (formData['expectedCtc'] && parseInt(formData['expectedCtc']) < 1) {
            document.getElementById('expectedCtcError').innerText = "Only positive number is require";
            flag = false
        }
        if (!formData['currentCtc']) {
            document.getElementById('currentCtcError').innerText = "Current CTC is required";
            flag = false
        }
        if (formData['expectedCtc'] && parseInt(formData['currentCtc']) < 1) {
            document.getElementById('currentCtcError').innerText = "Only positive number is require";
            flag = false
        }
        if (formData['availability'] === "Select time") {
            document.getElementById('availabilityError').innerText = "Availability is required";
            flag = false
        }
        if ((googleRecaptcha === true || googleRecaptcha === 'true') && !formData['g-recaptcha-response']) {
            document.getElementById('recaptchaError').innerText = 'Please verify that you are not a bot';
            flag = false;
        }

        return flag;
    }

    function handleSubmit(event) {
        event.preventDefault();
        document.getElementById('nameError').innerText = "";
        document.getElementById('emailError').innerText = "";
        document.getElementById('phoneError').innerText = "";
        document.getElementById('expectedCtcError').innerText = "";
        document.getElementById('currentCtcError').innerText = "";
        document.getElementById('availabilityError').innerText = "";
        document.getElementById('resumeError').innerText = "";
        document.getElementById('recaptchaError').innerText = '';
        let data = {}
        const formData = new FormData(document.getElementById('form-id'));
        for (var pair of formData.entries()) {
            data[pair[0]] = pair[1];
        }

        if (isFormValid(data)) {
            if (data.resume && data.resume.name) {
                var fileExtension = data.resume.name.split('.').pop();
                if (["pdf", "doc", "docx"].indexOf(fileExtension) >= 0) {
                    const formSendData = new FormData();
                    for (let key in data) {
                        formSendData.append(key, data[key]);
                    }
                    fetch(window.location.pathname, {
                        method: 'POST',
                        body: formSendData
                    }).then(res => {
                        document.getElementById('mainDiv').innerHTML = '<div class="album py-5 bg-light">\n' +
                            '    <div class="container">\n' +
                            '        <div class="row">\n' +
                            '            <h3>Thank you for applying for the job. Our team will contact you soon.</h3>\n' +
                            '        </div>\n' +
                            '    </div>\n' +
                            '</div>';
                    })
                } else {
                    document.getElementById('resumeError').innerText = "Only .pdf .doc or .docx support";
                }
            } else {
                document.getElementById('resumeError').innerText = "Resume is require";
            }

        }
    }
</script>
<div id="mainDiv">
    <div class="album py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Jobs</a></li>
                            <li class="breadcrumb-item"><a href="/<%= job.guid %>"><%= job.title %></a></li>
                            <li class="breadcrumb-item active" aria-current="page">Apply</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-md-3 mb-10">
                    <div class="card">
                        <div class="job-img">
                            <img src="/<%= locals.job && job.metaImage ? job.metaImage : company && company.logo ? company.logo : 'images/defaultlogo.png' %>"
                                 class="job-logo" width="100%"></img>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= job.title %></h5>
                            <div class="row">
                            <span class="col-sm-12">
                                <% if (locals.job && job.locations && job.locations.length) { %>
                                    <% for(let i = 0; i < job.locations.length; i++) { %>
                                        <%= job.locations[i].city %>, <%= job.locations[i].state %>
                                    <% } %>
                                <% } else { %>
                                    N/A
                                <% } %>
                            </span>
                                <span class="col-sm-12">
                                    <% if (locals.job && job.minExperience) { %>
                                        <%= job.minExperience %> Year experience
                                    <% } else { %>
                                        N/A
                                    <% } %>
                                </span>
                                <span class="col-sm-12">
                                    <% if (locals.job && job.type) { %>
                                        <%= job.type %>
                                    <% } else { %>
                                        N/A
                                    <% } %>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9 col-md-9 mb-10">
                    <div class="card">
                        <div class="card-header"><i class="fa fa-address-book "></i> <%= job.title %></div>
                        <div class="card-body">
                            <form method="post" id="form-id" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <input type="hidden" class="form-control" name="jobId" value="<%= job.id %>"
                                               required>
                                        <input type="hidden" class="form-control" name="source" value="website"
                                               required>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="name" class="required">Name</label>
                                        <input type="text" placeholder="Name" class="form-control" name="name" required>
                                        <small id="nameError" class="text-danger"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 taggingBox">
                                        <label for="alterEgo" class="required">Email address</label>
                                        <input type="text" placeholder="Email address" class="form-control" name="email"
                                               required>
                                        <small id="emailError" class="text-danger"></small>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label for="contact" class="required">Phone number</label>
                                        <input type="text" placeholder="Phone number" class="form-control" name="phone"
                                               required>
                                        <small id="phoneError" class="text-danger"></small>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="name" class="required">Resume</label>
                                        <input type="file" placeholder="Resume" class="form-control" name="resume"
                                               required>
                                        <small id="resumeError" class="text-danger"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="contact" class="required">Availability</label>
                                        <select class="form-control" name="availability" required>
                                            <option>Select time</option>
                                            <option value="Immediate">Immediate</option>
                                            <option value="One month">One month</option>
                                            <option value="Two months">Two months</option>
                                            <option value="More than 2 months">More than 2 months</option>
                                        </select>
                                        <small id="availabilityError" class="text-danger"></small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 taggingBox">
                                        <label for="contact" class="required">Current CTC (Annually in lacs)</label>
                                        <input type="number" min="1" placeholder="Current CTC" class="form-control"
                                               name="currentCtc">
                                        <small id="currentCtcError" class="text-danger"></small>
                                    </div>
                                    <div class="form-group col-md-6 taggingBox">
                                        <label for="contact" class="required">Expected CTC (Annually in lacs)</label>
                                        <input type="number" min="1" placeholder="Expected CTC" class="form-control"
                                               name="expectedCtc">
                                        <small id="expectedCtcError" class="text-danger"></small>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <% if (googleRecaptcha === true || googleRecaptcha === 'true') { %>
                                            <div class="g-recaptcha" id="rcaptcha"
                                                 data-sitekey="<%= recaptchaSiteKey %>"></div>
                                            <span id="captcha" style="color:red"></span>
                                        <% } %>
                                        <small id="recaptchaError" class="text-danger"></small>
                                    </div>
                                </div>


                                <button type="submit" onclick="handleSubmit(event)"
                                        class="btn btn-primary mt-10 mb-10 border-radius-30">Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

