<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= company.name %> | <%= company.header_description ? company.header_description + " | " : "" %> <%= company.website  %></title>
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/jssocials.css">
    <link rel="stylesheet" href="/css/jssocials-theme-flat.css">
    <% if (locals.job) {
        let location = '';
        if (job.locations && job.locations.length) {
            for(let i = 0; i < job.locations.length; i++) {
                location = job.locations[i].city + ', ' + job.locations[i].state;
            } 
        }
        let skill = '';
        if (job.skills && job.skills.length) {
            let skills = [];
            for(let i = 0; i < job.skills.length; i++) {
                skills.push(job.skills[i].name);
            }
            skill = ' | ' + skills.join();
        }
        var description = location + ' | ' + (job.minExperience ? job.minExperience + ' years' : '') +  skill;
    } %>
    <link rel="stylesheet" href="/css/akeo.css">
    <meta property="og:title" content=" <%= locals.job ? job.metaTitle : 'Job Opening' %> " />
    <meta property="og:description" content=" <%= description %> " />
    <meta property="og:image" content="<%=baseURL%><%= locals.job ? job.metaImage : '/images/default-job.jpg' %>"/>
    <meta property="og:image:alt" content="<%= locals.job ? job.metaImageAltText : 'image' %>" />
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:title" content=" <%= locals.job ? job.metaTitle : 'Job Opening' %> " />
    <meta property="twitter:description" content=" <%= description %> " />
    <meta property="twitter:image" content="<%= locals.baseURL %><%= locals.job ? job.metaImage : '/images/default-job.jpg' %>"/>    
    <meta property="twitter:image:alt" content="<%= locals.job ? job.metaImageAltText : 'image' %>" />
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main role="main">
        <section class="jumbotron text-center" id="companyHeader">
            <div class="container text-center">
                <h3 id="companyHeaderText">
                    <%= company.header_description ? company.header_description : 'Company header description here.' %>
                </h3>
            </div>
        </section>
        <%- body %>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
    <script src="/js/jquery-3.5.1.js"></script>
    <script src="/js/jssocials.js"></script>
    <script>   
            $("#shareIcons").jsSocials({
            shares: ["facebook", "linkedin", "twitter"],
            url: "<%= locals.baseURL %>",
            text: "<%= locals.job ? job.metaTitle : '' %>",
            showLabel: false,
            showCount: false,
            shareIn: "popup",
            on: {
                click: function(e) {
                    console.log("share url : \"" + this.url + "\" at " + e.timeStamp);
                },
                mouseenter: function(e) {},
                mouseleave: function(e) {}
            }
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#companyHeader").css("background-color", "<%= company && company.header_bg_color ? company.header_bg_color : '#2c3e50' %>");
            $("#companyHeaderText").css("color", "<%= company && company.header_text_color ? company.header_text_color : '#000000' %>");
            $("#first").click(function() {
                getUrl("#first");
            });
            $("#last").click(function() {
                getUrl("#last");
            });
            $("#previousPage").click(function() {
                getUrl("#previousPage");
            });
            $("#currentPage").click(function() {
                getUrl("#currentPage");
            });
            $("#nextPage").click(function() {
                getUrl("#nextPage");
            });

            function getUrl(selector) {
                let search = $("#searchBox").val();
                let url = $(selector).attr("href");
                let newUrl = url.concat(search);
                $(selector).attr("href", newUrl);
            }
        });
    </script>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</html>